/* MESSAGES  - - - - - - - - - - - - - - - - - - - - - */
.c19a557985eb7793-contents>.c19a557985eb7793-messageContent, .contents_c19a55>.messageContent_c19a55 {
    background-color: var(--background-mod-subtle);
    width: fit-content;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 8px 14px !important;
    border-radius: 0px 10px 10px 0px;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap: normal;
    .markup__75297 blockquote, .markup__75297 pre {
        max-width: 100%;
    }
}

._5126c0cd07f243a0-groupStart .c19a557985eb7793-messageContent, .groupStart__5126c .messageContent_c19a55 {
    border-radius: 10px 10px 10px 0px;
}

._5126c0cd07f243a0-message, .message__5126c {
    /* position: absolute; */
    max-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
    min-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
    padding: 2px 64px !important;
}

.c19a557985eb7793-contents, .contents_c19a55 {
    /* position: absolute; */
    max-width: calc(100%) !important;
    min-width: calc(100%) !important;
    justify-self: end;
}

.c19a557985eb7793-buttonContainer, .buttonContainer_c19a55 {
    right: 20px;
    ._040f07d21e1fb0d6-container, .container__040f0 {
        padding: 0 64px;
        right: -20px;
    }
}
.markup__75297 blockquote, ._752971923a1e6683-markup blockquote {
    max-width: 100%
}

/*
  ._23977d5b7cef7361-reactions, .reactions__23977 {
    margin-bottom: -12px;
  
    width: 100% !important;

    bottom: -16px;

  
    >div {
      position: relative;
  
      ._23977d5b7cef7361-reaction, .reaction__23977,
      ._23977d5b7cef7361-reactionBtn, .reactionBtn__23977 {
        backdrop-filter: blur(16px);
      }
  
      &:nth-child(1) {
        display: none;
      }
  
      &:nth-child(2) {
        transform: rotate(5deg);
        top: -50%;
      }
  
      &:nth-child(3) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(4) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(5) {
        transform: rotate(8deg);
      }
  
      &:nth-child(6) {
        transform: rotate(8deg);
      }
  
      &:nth-child(7) {
        transform: rotate(17deg);
      }
  
      &:nth-child(8) {
        transform: rotate(9deg);
      }
  
      &:nth-child(9) {
        transform: rotate(2deg);
      }
  
      &:nth-child(10) {
        transform: rotate(5deg);
        top: -50%;
      }
  
      &:nth-child(11) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(12) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(13) {
        transform: rotate(8deg);
      }
  
      &:nth-child(14) {
        transform: rotate(8deg);
      }
  
      &:nth-child(15) {
        transform: rotate(-17deg);
      }
  
      &:nth-child(16) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(17) {
        transform: rotate(2deg);
      }
  
      &:nth-child(18) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(19) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(20) {
        transform: rotate(-5deg);
      }
  
      &:nth-child(21) {
        transform: rotate(-1deg);
      }
    }
  }
  */
._23977d5b7cef7361-reactionInner[aria-label*=", 1 "] ._23977d5b7cef7361-reactionCount,
.reactionInner__23977[aria-label*=", 1 "] .reactionCount__23977 {
    display: none !important;
}

._5126c0cd07f243a0-messageListItem[data-is-self="true"], .messageListItem__5126c[data-is-self="true"] {
    ._5126c0cd07f243a0-message, .message__5126c {
        .c19a557985eb7793-contents>.c19a557985eb7793-messageContent, .contents_c19a55>.messageContent_c19a55 {
            background-color: var(--brand-50a);
        }
    }
}

/* the following CSS has been made by my friend DreariestTax53. all credits to him i'm just stealing it >:3c */
.c19a557985eb7793-contents:has([id^="message-content-Uploader"]), .contents_c19a55:has([id^="message-content-Uploader"]) {
    .c19a557985eb7793-messageContent, .messageContent_c19a55 {
        border-radius: 10px !important;
    }
    .c19a557985eb7793-avatar, .avatar_c19a55 {
        left: auto !important;
        right: var(--custom-message-margin-horizontal);
    }

    .c19a557985eb7793-avatarDecoration, .avatarDecoration_c19a55 {
        left: auto !important;
        right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
    }
}
