/* MESSAGES  - - - - - - - - - - - - - - - - - - - - - */
.c19a557985eb7793-contents>.c19a557985eb7793-messageContent, .contents_c19a55>.messageContent_c19a55 {
    background-color: var(--background-mod-subtle);
    width: fit-content;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 8px 14px !important;
    border-radius: 0px 10px 10px 0px;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap: normal;
}

._5126c0cd07f243a0-groupStart .c19a557985eb7793-messageContent, .groupStart__5126c .messageContent_c19a55 {
    border-radius: 10px 10px 10px 0px;
}

._5126c0cd07f243a0-message, .message__5126c {
    /* position: absolute; */
    max-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
    min-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
    padding: 2px 64px !important;
}

.c19a557985eb7793-contents, .contents_c19a55 {
    /* position: absolute; */
    max-width: calc(100%) !important;
    min-width: calc(100%) !important;
    justify-self: end;
}

.c19a557985eb7793-buttonContainer ._040f07d21e1fb0d6-container {
    right: 20px;
}

/*
  ._23977d5b7cef7361-reactions, .reactions__23977 {
    margin-bottom: -12px;
  
    width: 100% !important;

    bottom: -16px;

  
    >div {
      position: relative;
  
      ._23977d5b7cef7361-reaction, .reaction__23977,
      ._23977d5b7cef7361-reactionBtn, .reactionBtn__23977 {
        backdrop-filter: blur(16px);
      }
  
      &:nth-child(1) {
        display: none;
      }
  
      &:nth-child(2) {
        transform: rotate(5deg);
        top: -50%;
      }
  
      &:nth-child(3) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(4) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(5) {
        transform: rotate(8deg);
      }
  
      &:nth-child(6) {
        transform: rotate(8deg);
      }
  
      &:nth-child(7) {
        transform: rotate(17deg);
      }
  
      &:nth-child(8) {
        transform: rotate(9deg);
      }
  
      &:nth-child(9) {
        transform: rotate(2deg);
      }
  
      &:nth-child(10) {
        transform: rotate(5deg);
        top: -50%;
      }
  
      &:nth-child(11) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(12) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(13) {
        transform: rotate(8deg);
      }
  
      &:nth-child(14) {
        transform: rotate(8deg);
      }
  
      &:nth-child(15) {
        transform: rotate(-17deg);
      }
  
      &:nth-child(16) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(17) {
        transform: rotate(2deg);
      }
  
      &:nth-child(18) {
        transform: rotate(-3deg);
      }
  
      &:nth-child(19) {
        transform: rotate(-7deg);
      }
  
      &:nth-child(20) {
        transform: rotate(-5deg);
      }
  
      &:nth-child(21) {
        transform: rotate(-1deg);
      }
    }
  }
  */
._23977d5b7cef7361-reactionInner[aria-label*=", 1 "] ._23977d5b7cef7361-reactionCount,
.reactionInner__23977[aria-label*=", 1 "] .reactionCount__23977 {
    display: none !important;
}


._5126c0cd07f243a0-messageListItem[data-is-self="true"], .messageListItem__5126c[data-is-self="true"] {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;


    ._5126c0cd07f243a0-message, .message__5126c {
            /* position: absolute; */
            max-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
            min-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
            padding: 2px 64px !important;


        .c19a557985eb7793-header, .header_c19a55 {
            text-align: right;
        }
        
        .c19a557985eb7793-contents, .contents_c19a55 {
            /* position: absolute; */
            max-width: calc(100%) !important;
            min-width: calc(100%) !important;
            justify-items: end;
        }

        .c19a557985eb7793-avatar, .avatar_c19a55 {
            left: auto !important;
            right: var(--custom-message-margin-horizontal);
        }

        .c19a557985eb7793-avatarDecoration, .avatarDecoration_c19a55 {
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
        }

        .c19a557985eb7793-contents>.c19a557985eb7793-messageContent, .contents_c19a55>.messageContent_c19a55 {
            border-radius: 10px 0px 0px 10px;
            background-color: var(--brand-50a);
        }

        ._5126c0cd07f243a0-groupStart .c19a557985eb7793-messageContent, .groupStart__5126c .messageContent_c19a55 {
            border-radius: 10px 10px 0px 10px;
        }

        .container_b7e1cb>*, .b7e1cb0370c2dd0e-container>* {
            justify-self: end !important;
            align-self: end !important;
            margin-right: 48px;
        }

        &.c19a557985eb7793-hasReply, &.hasReply_c19a55 {
            padding-top: 22px;
        }

        .c19a557985eb7793-repliedMessage, .repliedMessage_c19a55 {
            position: absolute;
            flex-direction: row-reverse;
            top: 0px;
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
            margin-right: calc(var(--chat-avatar-size) * 1.5 + 12px);
            max-width: calc(100% - var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 32px);
        }

        .c19a557985eb7793-repliedMessageClickableSpine, .repliedMessageClickableSpine_c19a55 {
            right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
            left: 100%;
            border-right: var(--spine-width) solid var(--spine-default);
            border-bottom: 0 solid var(--spine-default);
            border-left: 0 solid var(--spine-default);
            border-top: 2px solid var(--spine-default);
            border-top: var(--spine-width) solid var(--spine-default);
            border-top-right-radius: 6px;
            border-top-left-radius: 0px;
        }
    }

    .c19a557985eb7793-buttonContainer, .buttonContainer_c19a55 {
        right: auto;
        left: 0;

        ._040f07d21e1fb0d6-container, .container__040f0 {
            right: auto;
            left: 56px;
        }
    }

    ._23977d5b7cef7361-reactions, .reactions__23977 {
        align-content: flex-end;
        justify-content: flex-end;
    }
}


/* FORWARDS - - - - - - - - - - - - - - - - - - - - - - */
._122e465d2e663859-content>*, .content__122e4>* {
    align-self: flex-end;
    background-color: var(--text-default);
    color: var(--chat-background) !important;
    width: fit-content;
    margin-left: 0px !important;
    margin-right: 64px !important;
    padding-left: 0px !important;
    padding: 8px 14px !important;
    box-sizing: content-box;
    word-wrap: break-word;
}

._122e465d2e663859-content, .content__122e4 {
    .headerContainer__70a91 {
    width: fit-content;
    background-color: var(--premium-perk-purple);
    border-radius: 10px;
    svg>path {
        fill: var(--chat-background) !important;
        }
    }
    .c19a557985eb7793-messageContent, .messageContent_c19a55{
        border-radius: 10px 10px 0px 10px;
    }
    .b7e1cb0370c2dd0e-container, .container_b7e1cb {
        margin-top: 4px;
        border-radius: 10px 0px 0px 10px;
    }
    ._122e465d2e663859-footerContainer, .footerContainer__122e4 {
    width: fit-content;
    background-color: var(--text-link);
    border-radius: 10px 0px 10px 10px;
    svg>path {
        fill: var(--chat-background) !important;
        }
    }
    ._122e465d2e663859-headerText, ._122e465d2e663859-footerText,
    .headerText__122e4, .footerText__122e4 {
        font-weight: inherit;
        color: var(--chat-background) !important;
    }
}

/* makes codeblocks actually look full sized xd */
._752971923a1e6683-markup blockquote, ._752971923a1e6683-markup pre,
.markup__75297 blockquote, .markup__75297 pre {
    max-width: 100%;
}

