.container_c8ffbb,
.members_c8ffbb,
.member__5d473,
.chat_f75fb0,
.sidebarList__5e434,
.container__2637a,
.privateChannels_e6b769,
.scroller__99e7c,
section.panels__5e434,
.container__37e49,
.bg__960e4 {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
}

.members_c8ffbb,
.guilds__5e434,
.chatContent_f75fb0,
/* .sidebarList__5e434, */
.layerContainer__59d0d,
.app__160d8 {
  contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
  contain: paint !important;
}

.theme-darker:not(.custom-theme-background) {
  --bg-base-tertiary: #171717;
  --background-base-lowest: var(--bg-base-tertiary) !important;
  --background-base-lower: #272727 !important;
  --background-surface-higher: #2c2c2c !important;
  --background-floating: var(--background-surface-higher) !important;
  --bg-surface-overlay: var(--background-surface-higher) !important;
  --bg-surface-raised: var(--background-surface-higher) !important;
  --chat-background-default: var(--background-base-lower) !important;
  --background-primary: var(--background-base-lower);
  --background-secondary: var(--bg-base-tertiary);
  --background-tertiary: var(--bg-base-tertiary);
  --background-secondary-alt: var(--background-surface-higher);
  --modal-background: var(--background-floating);
  --modal-footer-background: var(--background-floating);
  --background-base-low: var(--background-base-lower);
  /* make darker OGG DDEX4 colors, who needs another import */
}

/* CHAT - - - - - - - - - - - - - - - - - - - - - - - - - */

.chatContent_f75fb0,
.list_f369db {
  margin: 0 0 32px 0px;
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
  border-left: 1px solid var(--border-subtle);
  border-right: 1px solid var(--border-subtle);
  border-bottom: 1px solid var(--border-subtle);
  box-shadow: 0px 32px 60px 12px rgba(0, 0, 0, 0.75);
}

.title_f75fb0 {
  width: 100%;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  height: var(--custom-channel-header-height) !important;
  height: 64px !important;
  padding-right: 20px !important;
  border-left: 1px solid var(--border-subtle);
  border-right: 1px solid var(--border-subtle);
  border-top: 1px solid var(--border-subtle);
}

.dot__9293f {
  scale: 2;
}

.icon__9293f {
  scale: 0.8398320336;
  --channel-icon: var(--header-primary);
}

.topic__6ec1a {
  --text-tertiary: color-mix(in oklab, var(--neutral-40) 100%, var(--theme-text-color, #000) var(--theme-text-color-amount, 0%));
  font-weight: 300 !important;
}

.title__9293f {
  font-weight: 450 !important;
}

.chat_f75fb0 {
  overflow: visible !important;
}

.page__5e434 {
  max-height: calc(100vh - var(--custom-app-top-bar-height)) !important;
}

.iconWrapper__9293f:has([d="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2.14 3.08c.01.06.06.1.12.1ZM18.44 17.27c.15.43.54.73 1 .73h1.06c.83 0 1.5-.67 1.5-1.5a7.5 7.5 0 0 0-6.5-7.43c-.55-.08-.99.38-1.1.92-.06.3-.15.6-.26.87-.23.58-.05 1.3.47 1.63a9.53 9.53 0 0 1 3.83 4.78ZM12.5 9a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM2 20.5a7.5 7.5 0 0 1 15 0c0 .83-.67 1.5-1.5 1.5a.2.2 0 0 1-.2-.16c-.2-.96-.56-1.87-.88-2.54-.1-.23-.42-.15-.42.1v2.1a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2.1c0-.25-.31-.33-.42-.1-.32.67-.67 1.58-.88 2.54a.2.2 0 0 1-.2.16A1.5 1.5 0 0 1 2 20.5Z"]) {
  order: 1;
}

.iconWrapper__9293f[class^="vc-"] {
  order: 2;
}

.modeSelected__2ea32 {
  .link__2ea32 {
    background: var(--brand-500);
  }

  &:hover .link__2ea32 {
    background: var(--brand-460);
  }
}

.page__5e434 {
  z-index: 3;
  overflow: visible !important;
}

.page__5e434:has(.membersWrap_c8ffbb) .title_f75fb0 {
  width: calc(100% - var(--custom-member-list-width));
}

.page__5e434:has(.panel_c0bea0) .title_f75fb0 {
  width: calc(100% - 348px);
}

.content__5e434 {
  margin-right: 16px;
}

.container__133bf,
.applicationStore_f07d62,
.shop__6db1d,
.container_a592e1 {
  margin: 0 0 32px 0px;
  border-radius: var(--radius-lg);
  overflow: hidden;
  border: 1px solid var(--border-subtle);
  box-shadow: 0px 32px 60px 12px rgba(0, 0, 0, 0.75);
}

.search_c322aa:not(.open_c322aa) {
  .searchBar_c322aa {
    width: 22px;
    background: transparent;
    border: none;
  }

  .icon_c322aa {
    cursor: pointer;

    .iconContainer_fea832 {
      margin-top: 3px;
      transform: scale(1.25);

      .icon_fea832 {
        color: var(--interactive-normal);
      }

      &:hover>svg.icon_fea832 {
        color: var(--interactive-active);
      }
    }
  }

  &:hover::before {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-normal);
    padding: 8px 12px;
    background-color: var(--background-floating);
    content: 'Search';
    box-shadow: var(--elevation-high);
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
  }

  &:hover::after {
    content: '..';
    --aeiou: color-mix(in srgb, var(--background-floating), var(--border-subtle) 75%);
    overflow: hidden;
    font-size: 15px;
    position: absolute;
    z-index: 1003;
    top: calc(100% + 4.7px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 6.076px !important;
    height: 6.076px !important;
    background-color: var(--background-floating);
    background-image: linear-gradient(to bottom, var(--border-subtle) 0%, var(--border-subtle) 25%, transparent 25%), linear-gradient(to right, var(--aeiou) 0%, var(--aeiou) 25%, var(--background-floating) 25%), ;
    pointer-events: none;
    /* i was close ok? */
  }

  .DraftEditor-root {
    padding: 0px !important;
  }
}

/* TEXTBOX - - - - - - - - - - - - - - - - - - - - - -   */
.form_f75fb0 {
  padding: 0px !important;
}

.channelTextArea_f75fb0 {
  --custom-chat-input-margin-bottom: 2px;
  background: transparent !important;
  border: none !important;
  border-radius: 0px;
  --custom-channel-textarea-text-area-height: 70px;
}

.scrollableContainer__74017 {
  background: transparent !important;
  border-radius: 0px;
}

.channelAttachmentArea_b77158 {
  background: transparent !important;
  padding: 10px !important;
  border-top: 1px solid var(--border-subtle) !important;
  margin: 0px !important;
}

.inner__74017 {
  border-top: 1px solid var(--border-subtle) !important;
}

.attachButton__0923f {
  padding-left: 20px !important;
}

.buttons__74017 {
  padding-right: 8px;
}

.channelAppLauncher_e6e74f {
  display: none !important;
}

/* MEMBERS - - - - - - - - - - - - - - - - - - - - - - - */
.membersWrap_c8ffbb {
  top: calc(0px - var(--custom-channel-header-height));
  height: calc(100vh - var(--custom-app-top-bar-height)) !important;
  max-height: none !important;
  background: transparent !important;
  justify-content: start;
}

.members_c8ffbb {
  height: calc(100vh - var(--custom-app-top-bar-height)) !important;
}

:root {
  --custom-member-list-width: 236px !important;
}

/* └ DMS -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
.outer_c0bea0.panel_c0bea0 {
  top: calc(0px - var(--custom-channel-header-height) - 6px);
  margin-left: 8px !important;
  border-radius: var(--radius-lg) !important;
  overflow: hidden;
  height: calc(100% + var(--custom-channel-header-height) - 16px) !important;
}

/* ACTIVITY GOOBERS  -  -  -  -  -  -  -  -  -  -  -  -  - */
.container__0f2e8 {
  /* gradient */
  z-index: 0;
  overflow: hidden;
  background-color: black !important;
  margin-left: 0px;
  padding-left: 16px;
  height: 120px;
  border-radius: 0px 12px 12px 0px;
  border: none !important;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0px;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--brand-700)), linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    background-blend-mode: screen, difference, ligthen;
    border-radius: 0px 0px 0 0;
    opacity: 0.6;
  }
}

.infoSection__0f2e8 {
  height: 100%;
  justify-content: end;
  z-index: 0;

  .contentTitle__0f2e8::before {
    opacity: 0.75;
    content: "played ";
    font-size: 12px;
  }

  * {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    overflow: visible !important;
    z-index: 1;
  }

  svg>path {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
}

/* username */
.userName__0f2e8 {
  position: relative;
  left: 12px;
  top: 5px;
}

/* below username text */
.contentTitle__0f2e8 {
  position: relative;
  font-size: 13px;
  width: 150px;
  white-space: wrap;
  bottom: 3px;
  left: 50px;
}

.facePile__0f2e8,
.facePileItem__0f2e8,
.facePileItem__0f2e8 div,
.facePileItem__0f2e8 svg,
.facePileItem__0f2e8 foreignObject {
  top: 3px;
  width: 23px !important;
  height: 23px !important;
  contain: none;
  align-self: center;
}

.userSection__0f2e8 {
  gap: 8px;
}

.badgeContainer__635ed:has(path[fill="var(--status-positive)"]),
.badgeContainer__635ed:has(path[d^="M4 12a8 8 0 0 1 14.93-4H15a1"]) {
  height: 16px !important;
  width: 16px;
  justify-content: center;

  .badgeLabel__635ed {
    display: none;

  }
}

.badgeContainer__635ed:has([style*="color: var(--text-positive);"]) {
  background-color: var(--text-positive) !important;

  .tabularNumbers__4bd52 {
    color: #ffffff !important;
    text-shadow: none !important;
  }

  svg path {
    text-shadow: none !important;
    color: #ffffff !important;
    fill: #ffffff !important;
  }
}

.badgesContainer__635ed {
  position: absolute;
  bottom: calc(100% - 16px - 16px);
  width: calc(100% - 16px - 8px);
  justify-content: flex-end;

  .badgeContainer__635ed {
    backdrop-filter: saturate(3) blur(20px);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 4px;

    svg path,
    [data-text-variant="text-xs/normal"] {
      text-shadow: none !important;
      color: #ffffff !important;
      fill: #ffffff !important;
    }
  }
}

.contentImage__42bf5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  z-index: -1;
  border-radius: 0px;
  filter: saturate(80%);
}

/* CHANNELS - - - - - - - - - - - - - - - - - - - -  - - */
.sidebarList__5e434,
.sidebar__5e434,
.container__2637a {
  overflow: visible !important;
  z-index: 2 !important;
  margin-right: 0px !important;

  .scroller__629e4,
  .scroller__99e7c {
    width: calc(100% + 24px);
  }
}

.privateChannels_e6b769,
.container__551b0 {
  width: calc(100% + 16px);

  .content__99f8c {
    margin-right: 24px;
  }
}

.sidebarList__5e434 {
  margin-right: 16px;
}

.link__2ea32 {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  height: 40px;
  justify-content: center;
  gap: var(--spacing-12) !important;
  padding-right: 32px;

  .iconContainer__2ea32 {
    scale: 0.8;
    width: 15px;
  }
}

.containerWithMargin_eff079 {
  margin: 12px 16px;
}

.header_f37cb1 {
  width: calc(100% + 16px);
}

.containerDefault__29444 .mainContent__29444 {
  gap: 8px;

  .icon__29444 {
    order: -1;
  }
}

.wrapperCommon__29444 {
  padding: 0 var(--space-lg);
}

/* 
.sidebarResizeHandle__5e434 {
  left: calc(var(--custom-guild-sidebar-width) + 16px);
  z-index: 1000 !important;
}

.sidebar__5e434 {
  width: calc(var(--custom-guild-sidebar-width) + 200px) !important;
} */

/* └ DMS -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
.privateChannels_e6b769 .scroller__99e7c {
  margin-bottom: var(--custom-app-panels-height) !important;
}

.searchBar_e6b769 {
  margin: 0px 0px 0px 4px;
}

/* └ BANNER -  -  -  -  -  -  -  -  -  -  -  -  -  -  -  */
.animatedContainer_f37cb1 {
  position: fixed;
  width: calc(100vw - var(--custom-guild-list-width)) !important;
  height: 100vh !important;
  opacity: 1 !important;
  transform: translateX(calc(-78px + var(--custom-guild-list-width))) translateY(-95px) !important;
  background-color: transparent !important;
  border-bottom: none !important;
  box-shadow: none;
  margin-left: 5px;
  pointer-events: none;
}

.bannerImage_f37cb1 {
  transform: translateY(0px) scale(1) !important;
  pointer-events: none;
}

.bannerImg_f37cb1 {
  width: 100vw !important;
  height: 400px !important;
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.animatedBannerHoverLayer_f37cb1 {
  display: none;
}

.content__99f8c>div[aria-hidden="true"][style="height: 84px;"] {
  height: 16px !important;
}

.headerEllipseForeground_f37cb1,
.headerGlass_f37cb1,
.headerEllipseBackdrop_f37cb1 {
  display: none !important;
}

/* { HEADER  -  -  -  -  -  -  -  -  -  -  -  -  -  -  - */
.header_f37cb1 {
  padding: 16px 16px !important;
  min-height: none;
  align-items: end !important;
  height: auto !important;
}

.name_f37cb1 {
  font-size: 28px;
  font-weight: 300;
  text-overflow: unset;
  white-space: wrap;
}

.headerContent_f37cb1 {
  align-items: flex-start !important;
  align-items: center !important;
  gap: 8px;
}

.container__2637a[aria-label^="Blade0's Theme Server "] .header_f37cb1 {
  z-index: 5;

  .headerContent_f37cb1 {
    gap: 4px;

    .guildIconV2Container__85d16 {
      display: none;
    }

    &::before {
      display: inline-block;
      content: "";
      height: 18px;
      width: 18px;
      padding-right: var(--space-xs);
      background-image: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%40%00%00%00%40%08%06%00%00%00%AAiq%DE%00%00%00%09pHYs%00%00%2CK%00%00%2CK%01%A5%3D%96%A9%00%00%01iiCCPDisplay%20P3%00%00x%9Cu%90%BDK%C3P%14%C5O%ABR%D0%3A%88%0E%1D%1C2%89C%D4%D2%0Avqh%2B%14E0T%05%ABS%9A~%09m%7C%24%29Rq%13W%29%F8%1FX%C1Yp%B0%88Tpqp%10D%07%11%DD%9C%3A%29%B8hx%DE%97T%DA%22%DE%C7%E5%FD8%9Cs%B9%5C%C0%1BP%19%2B%F6%02%28%E9%96%91L%C4%A4%B5%D4%BA%E4%7B%83%87%9ES%AAf%B2%A8%A2%2C%0A%FE%FD%BB%EB%F3%D1%F5%DEO%88YM%BBv%10%D9O%5C%97%CE.%97v%9E%02S%7F%FD%5D%D5%9F%C9%9A%1A%FD%DF%D4A%8D%19%16%E0%91%89%95m%8B%09%DE%25%1E1h%29%E2%AA%E0%BC%CB%C7%82%D3.%9F%3B%9E%95d%9C%F8%96X%D2%0Aj%86%B8I%2C%A7%3B%F4%7C%07%97%8Ae%AD%B5%83%D8%DE%9F%D5W%97%C5%1C%EAQ%CCa%13%26%18%8APQ%81%04%05%E1%7F%FC%D3%8E%3F%8E-rW%60P.%8F%02%2C%CADI%11%13%B2%C4%F3%D0%A1a%122q%08A%EA%90%B8s%EB~%0F%AD%FB%C9mm%EF%15%98mp%CE%2F%DA%DAB%038%9D%A1%93%D5%DB%DAx%04%18%1A%00n%EAL5TG%EA%A1%F6%E6r%C0%FB%090%98%02%86%EF%28%B3a%E6%C2%21w%7B%7F%0C%E8%7B%E1%FCc%0C%F0%1D%02v%95%F3%AF%23%CE%ED%1A%85%9F%81%2B%FD%07%17%29j%BC1%29O%3E%00%00%14%F5IDATx%01%ED%5B%09%90%5C%C5y%FE%BB%DF%CC%1E%BA%BC%2Bi%C5%8AkW%18t%07V%12D%02%27%D6J%A4%2A%90%C4%A0%15E%8C%2B%05H%B6%B1%C1%80%81%2A%B0%B9%12V%B8H%B8b%20q8MI%22%07%18%1BX%84HL%C0H%0BA%26%08%A1%116%8B.%D0%AC%24%D0%B1Zi%85%B4%E7%CC%EB%CE%FF%FF%DD%FD%A6%DF%DBY%23K%93%2AW%D9%0DO%FD%E6%1D%FD%FA%FF%FE%FB%EF%5E%80%DF%F3%26%E0%FF%A1M%BE~%7D%7D%2AUqy%A8u%B5%90%22%D3v%DF%94ep%14%AD%A1y%5B%15%A4G.%00%05%5D%10%E62%99%E6%F1Y%28q%2B9%00So%FAu%83%08%C5%2A%10%B2J%80%04-%E8%7F%99UJ%DF%D9%F6%C3%89%CB%8Ed%8C%19wv%CC%D5%12%EE%C0%C9%CD%D3Bj%9E%A7%10Y%1C%A9%29s%5Bu%06J%D8J%0A%00q%5E%E8%F4%2A%21d%9D%19Z%E0%29%F7t%0A%1A%81%00%AD%97%B4%FD%F0%D4e%C5%DE%9F~%FB%8E%C6%20%95%BECH%D9H%CF%9B%D9%11%ED%D2%0D%97%D5%FD0%23%D3%5C%DD%05%25j%29%28a%13%2Ah%C6%AE%0E%89%14%DA%5E%D3%9AI%00%14%06juH%DC%D2i7n%BB%5C%2BX%0E%01dT%00%5Di%114%80L%5D%87%605%F2%3B%0A_%92%82%DF%13%C2%F1%88%11%A8%97i%7D%3D%9E4C%89Z%C9%24%80%B8%0F9%B9%0Dg%AE%91%D58s%09%AC%02%FC%15I%5CDi%16B%F3%FFF2%10%0C%96%0C%11%60%8F%E7%2C-D%B04%843%E7%BDsm%24%A2K%F7%AB%09%A5%92%02%09%A5j%FD%D0L%DC%D6%21qPh%1DjP%A12%BF%F3%88I%A8%84%CA%2B%80%3C%08s%0F%E8%D0%F4%2C%F5%2C%2Ax%1BXx%84%06%2BB%24%05%3C%AE%FB%8E%10U%B2%5C%5E%0F%25j%25%91%80%C9W%AE%AFG%FD%FEX%13%E7%99%08%BA%2A%99%F3%CC6a%8E%88%A3%12%A5D%CA%82%14P%1F%98s%92%86%D8u%27%25%D6%96p%AFE%97%EA%CF%97D%0AJ%22%01h%E1%9Bu%18%0A%20%8E%12w%15K%82V9%05%2A%AF5%9D%93%14%28%96%06%BAN%F7%F17%9D%F3%3B%F4%1B%A5F%99%EB%DC%A3%F0h%92%0B%C5N%80%EF%91F%B14%08%A8%82%8A%F4%03P%82v%CC%12p%DA%15%EF%5E%87%7CyP%2BI%93E%09%10p%C2%C9%C3%F5I%27U%B0%19%DF%DE%DE%AFw%B6%F7%91%D2%5B%AEJc%21%82%C0%E8%7D%80%B6%21%C0%DB%AE%A7k%29%C9%12A%12%20%E9%9D%14%DE%231%A0g%E8m%1C%83%CC%88%0A%F5%0D%99%5BG%3C%08%C7%D0%8E%1A%80S%AFxg%AET%B0%18IA%8B.%D8rW%8F%AE%D0%97~%F3d1q%CAH%B0%CE%8F%B5aK%5B7%2C%7F%ECS%E8%DC%97%27%CAQ%FCI%1B%02%23%EE%8E%F0%94%25%DC%01%40%92%9F%0A%AC%C1%04%06K%062R%A7H%A5%84X%86%9F_%9E%B9%A9r5%1CE%FB%5C%00%EA%AF_UU1P%B1%80N%F1%F1%3A%A5e%03%12%5E%87%9E%AE%DA%88%3A%1B%2CQ%3D%BA%5C_w%F3i%E2%B8%9Ar6%03%60%89w%40tv%0C%C0%FDK%DAa%FF%BE%D0%80%10%B0%F5%17%AC%FB%A9%80%89%13%29a%884%12%A0%25%5EgOh%ED%82%B3%09%EC%1A%B9%C7o%C8H%2A%BA%F0n%06%2F%1E%C0%EFn%90%22%95%C9%F7%F7m%C8%DCR%99%3D%2A%00%A6%5E%B1%AAA%C9%F4%03%F8%F1F%CD%94%10%97%F9%8BL%B0%D1S%D6M%3E%FF%9Bo%D4%C39_%1E%1B%1B%D8%1F%9C%98%D8%B1w%00%EE%BDc%BB%3E%B0%0F%ED%05%11%83%842%91%08%02%F6H0%83%60%A4%81%01%91Z%A2t%18U%B11%81%03%81%00%09%CC%5C%84%91%08m%1F%D0%82%03%0F%7BM%E9%D60%97%5B%3C%14%10E%8D%E0%E4E%AB%EAC%08%5EG%C2%E7%22%97%D9%25ic%DD%91%60d%B9%22C%85%F6H%91%0FcW%A7I%EC5x%EE%0A%C8%E3%C5%3FP3%AE%0CnYR%87%D2%12%B0kT9%3C%06%949w%07%5E%23CI%C6%10%F2Z%B0%8B%A4%EF%85%60%9D%21%B9Im%DCdH%816X%CB%C8%E4%16f%C0%D7P8%04%CC%15%E9%F4%EB%0D%0F%E8%AA%23%06%40%07%F2B%24%B8%0A%CD9Zv%22%D2NB%999%B0yF%83%C7%D7%D9%82%2BQ%85%A2%EF8%EE%80%A0%DF%21%14%24%81%FA1%E3%D2p%CB%9DuP%5D%8D%20%E4%3C%A2s%18%27%E0%C1%DE%81z%F6%10%ECA%C0%C6%09%82%CE%0D%18%DA1%81%095%B1%82%FD%AA1H%11%D78%00%075A%E6r%0B%8E%18%8007PMn%8D%27%C0%1F%A2%89%81%3Dg%82y%22x%08%12%04%3A%EF%EB%C9%C7t%DE%0D%EE%0C%A1%B2%07%9D%8F%3D%0EA%B8%CB%80%C0%AE%92%80%C8%91%7B4%AE%D1I%04%11J%0C%60%26%84%1A%DC%01%60%03%27K2I%A1%B9d%19%C4%9E%D2%40%60%F4%94c%AB%BA%23%06%00%2C%91%8C4%F7%8AA0TX%09%B4%07I%09%9D~%B2%AD%87o%87%96P%F0%88%2F%D6j%10%84%5B%FF%E1d%18%5D%9D%D2%9AA%40%D5bi%40%E0%89%F8%3CKD%A4%1A6%3E%60W%8B%CC%60%09%00%C3%08%01%11%F3%0D8%82%E7%CA%86J8%99%C5Iv%1D1%008P%96%91%26%F6%B2%18%DA%8F%87N%FF-%40%CA%84%AF%04%CE%8A%A7w%F0%60%D2%1B4%0A%0A-%18%81%1B%1F%8C%7D%20I%B8%ED%EE%93DuU%C0%B6%C0H%03~%22%CFRa%C4%DF%DA%03%23%15%CA2%C4%88%BFQE%8E%98L%F4%25%0C%C7%955%12L%BCb%CBM%13n%3Fb%00%D0jfx%12%F9%90%3E%28%0C%08%8ExD%85%90%A7%10WE%2A%02%9B%DF%3F%08K%1F%D8%1A%8D%A1%00b6%81%C7%85%82%7Dp%60%8C%21%10%EE%3D%09%C6%8CNY%5B%80%12%903%C4Z%DB%60%22F%27%05%1C9%DA%1CC%1B%DBd%A4%90%25%C2I%86%0D%2BI%024%E3%23%F3%3A%5B%8C%D6%21%DD%60%FD%C2%9Fc%80%12D%3E%97%B3%3C%97%9B%EA%80%06%15%26%7C%E5%DE%84%BE%C8%D6s%E6%8F%13%DF%B8%E94%26Rz%00%08%28H%87%F6%CEC%DB%EF%D9%9D%83%BF%FF%FEN%D8%BF%1F%0DW%99%84%A0%2C0n0-%85%E9%D9U%E29%3E%9F%8A%02%28%10ia%E3%22%C1%AE%95%89r%BD%A5%0E%E3%A5%AEu%DF%1BQ%5D%8C%CE%21s%01%CC%E4%B2%C8%05%B4%C4%8AD%92%5D%9Er%EA%10%B2d%B0j%B1%B9q%5E%01%7F%FF%CF%2B%7B%E0%C7wo%89%11%EE%A3%EC%D4%C2%19E%07Hmm%1An%BF%E7D%183%86%D4%01%9DK%3F%AB%84%60U%C8%B3%AB%B4%E2o%8C%B1%B2v%89%BC%87a%B66%F6%C9%A8%3C8%B9%E3%E9%85z%C3Pt%0E%09%80%CE%87YM%2A%60%F4%8E%0C%94%06%AB%F7J9%A3%C4%93%28%B8Hc%A4%E0%CD%FF%DC%A3%9F%B8k%F3%A0%B8%C07%8E%CEE%2A%EF%DEX%06%E1%04T%87%C0x%82%01%26%9E%5C%22%18%BB%A0%C0%D9%07%8A%01%18%18eRm%07%0A%84%3A%02C%1BKM%D6%A0%EB%B7%06%40%0D%84d%03%CC%91%0B%0D%E2%06%10%FA%886F1%FA8%1B%21%0A%92%8C%87P%E2%CD%97%F6%C0%13K6%C7%C2b%FF%80%C4u%27%25d%18o%BF%E7x1%BAZ%B0G0%92%80va%C0%82%9E3u%05%3A%8C%3DpF%DAx%00C1s%C2x%08%C5v%E0%C0o%0F%40%5E%D53%E1xhF%3D%CF%2A%C0%80%B0AT6%1At%E9%ABE%9D%5D%93%99%40%EB%8A%5D%F0%F8%DFm%E2%F1%02%88%AB%83%F2%26%20%A1%A0%0E%D4j%0A%92%60%B8%3E%609%CFLqRa%AF%85%F6%9B%E6%10%CAI%23%A5%D0%DAVZ%94n%18%8A%CE%A0%D8%C5%E7%B4%5E%84o%2F%DA%F2%5E%87%99%B2%16%8EU%22%AA%DA%18%FF%2B%B4%F5B.%2701%84%EDq%22%D9%B6%C3%B0%F7%93%3E%989%7FlDh%D2.%00%14b%06%27%0D%C3G%04p%D6%D9%C3a%ED%5B%DD%BA%E7pH6N%DB%B0%DF%98b%2A%B1qu%CD%8D%A0MN%40v%89%3B%FB%1B%B82w%5Cm%E3%8D%AD%BBW%DD%97%FD%5C%00%9E%D6%BA%1E%2F.%3D%AD%A1%A6%8A8%BA%99A%88%3C%8A0%E7%C0y%BF6%D6L%D8%E0%04A%11%5E%B8%0A%AC%E4%04J%FD%C4%110a%F2H%186%2A%15q%D9%07%C1%F7%18%01%14%A4%83%408%F3%ECa%E2%DD5%DD%D0sX%99%B4%98_6%A5%C5%E8%97%23%D4d%06%C2e%CC%BE%C2%E1%CD%C6%F1%E7%DE%D2%B2%FB%F5%7B%0E%0E%09%00%11%9F%06X%85%DF%A9%A7%F7%27%CE%A8A%A9%D2%B0e%5D%07s%DFD~%D2%C4%E5%94%15r%AE%60%A2RS%0Cq%15%1DS%1F%A0%E3%CA%1FL%85%8B%AF%9E%00%95%A3RE9%ED%7B%0A%E7%16%C1%03d%14%820k%CEpxw%CDa%E8%E9%B6y%A9%B0%05s%29%A2%D2%80%F9m%E86%A2%016%21%B4%A9%21U%91%B4ZP%3B%F7%86%17w%AF%FE%C7%C8%28%8A%04%E7W%E1%17%EA%A57%21j%2F%FD%B8%0D%5E~%F2C%CA%E3m%1EN%15Z%1A3%80%BF%7D%F2K0lx%8A%BF%D0%7D8%07%3B7%1F%82%8Dk%0F%40%EB%8B%BB%A0%E9%DB%A7%C0EW%9E%12%F3%FF%8E8%1F%88%94wOy%F7%7D%E9%E8%DC%93%83%1F%DC%8CE%95%03%21%C7%08%12c%05%8E%0D%D2%A6%C74%1A%D3iJ%A5%85%AD%2C%01%D7%14%84-%26%B1X%04%94%BC%A9v4%1C%F3%DC%2A%93p%C4%E3%F3%EB%F1%B4%CA%E9i%0A%E2b%BA%E2%896X%89%07%05G%A6%5CC%D5%1A%09%E7%9C%7F%A2%F8%FAm%A7%83%8F%28%89U%F7%A1%3C%0C%1F%99%8A%89w%92%E3%EEZ%D2.%F8%96%D9%0F%9C%F6%22%08w%DD%F2%A9%DE%BF%3F%14%B2%3C%D0A%19%CE%A0%0C%29LcO%60%B8%C0H%12%08%60%8A%AEv%BA%B6%B0%EA%F2%A4%2C%BE%D0%B8%FE%F6%EA%F6%60%29%12_f%C4%BE6i%8D%A9%E5-A%13g%D5%B0%93%D9%B4v%AF1%05F%25%C4%F6%CD%9F%C1%BE%5D%BD0knmD%04%8D%91.%97%11%B1%0EP%3F5.%06%88%F0%A4%C1%97%10%07D%05%D9%849%C3%C5%BA%B7%BBuo%8F%12v%B5%08%ECR%83%09VM%BD%40%14%D4%83%17e%B4Q%03%ED%A9C%1E%D5%E1%EA%E5%C1W%9B%9B%1F%C4%8B%8D%FE%84%7C%11%05%AF%9F%3Ck%1C%1B8%03%82%9B%21%16%3E7%1D%84%8E%5D%7D0%AB%B16%96%03%B81%82%C4%B8%22%C1Y%DF5%26%BF%EB%BBI%BA7%8C%40%98%8D%20%FC%F20%F4%F6%2Ak%07%B4-%0FZ%0A%25%B8%9A%10%27H%A6%D7%DEb%1B%FF%83%05%92T%7Fpqs%F3R%7C%B7%C2%85%A7~%C6%E6%26%12x%13%9Bt%E68%26%9E%400%0F%E9%02%08%9F%22%08%F3jc%12%94%82xb%04%09%E2%14%C4%25%02%20%AE%0EA%02%18z%A7%12A%A8%9BP%0Eo%FE%E2%10%EB%B8%B0K%10%C6K8%EEk%9B%13%90%0DPQ%D5%CC%0E%CE%12%81V%BC%21X%D8%DC%7C3%01%E0s%CC%9FH%B1%84f%D2%995l%E17%AEuqB%01%84%7D%3B%7Ba%C6%FC%DAXJ%9C%1C%D7w%3D%3E%E0%3E%D0IiH%028%1A%23%C6%9E%C3y%F1%D1%E6%5E%8F%F3%06%0C%26%D0%2C%2Cjp%0E%21%12%03%CE%0E%8C%0E%03%F4%11%00%95%F8%E1%C6%E4D%93%DC%90%89k%93%CE%1AGF%006%FE%EF%DE%98%CCn%DF%F8%19t~%8A6a~m%8C%00%DF%0B%F8%12%11zc%FA6%C3%07G%C0%60%29%A2g%27N%AA%80U%AF%1C%84%7C%C8%84%1BB%03%5B%14%15%E0%96%21%8D%94%F0%CBJ%F8%EE%11%81x%26%B8%B4%B99%83%0B5%97%A0%A8V%F9%D9%99H%1C%BEar%93%9Ar%96Q%87%8D%EFt%D8%1B%0C%2C%B4%7F%88%EA%F0I%2F%CC%3Cw%7C%CC%B2%27%A5%0B%BC%7B%8E%28_%0D%7Db%211%17z%A6%0C%5D%E1%96M%BD%B0%7BW%8E%D9LK%0D%CE%06%08%C35%2Fr4R%C1%DF5%DE%20%8B%E9%F5b%D9%24%04%05%05%F3%90%13YH%10%EA%97%B8db2%AEo%BAz%1A%2C%B8j%0A%C7%FE%98%26%BB%0C%11%DEx%AE%1D%1E%BFy%7D%F4n%1E%06%27D%FEX%C5%24%25%D9%DC8~%8C0s%F6p%CA%DDET%FB%E3%28%CC%EA%A4%D2%A6%1A%A2%AC%B5.%94%F1%0E%E2%CA%D4%BC%F5%B7%1F%DF%CEt%7D%8D6%1E%20%08%90%00%C1%7D%D4%89d%98%98%A0%9B%F8%82k%10%84%EFL%05%B7%A8%C7y1%FE%D7%FA%7C%16%1E%FF%FE%7BE%D5%0A%3C%90%FD%3E%09%0Cx%DF%CF%7B%DF%B7%916L%9A%3E%0C%5CU%CA%16%2AM%DCn%122%11%15%C7T%F4%A5%AC%10%E1%0C%22%DE%D1%07%0E%84r%0BB%D2%08Q%9F%83%C1%BA%E8%E7%F2%17%12%08%28%0Dn%0E%B6.%8F%20%B4%C3%A3%DF%7Bo%901s%D3%09%20%0E%B8%F6%00%81%C4%3C%92%C0P%1B%8Bk%0D%26%F3%D2%BA%40%B8%03%82%FAP%B8B.%1E%DBpQ%0A%A3%C0%09Y%F7~%2C%1DFu%C8%96%25%24%01%20n%9C%1C%FA%3E%B7%1Cw%9B%AEE%10%AE%99%02f%198%B4%92%A8a5%AA%C3c7%BD%17%19%3C%9F%00%9F%D0d%FC%E1%26%E8%13%9F%87%B8%C4%F0%F3F%EA%EC%12%B2%95%80h%E9%8A%D9%0F%AC%F3i%3D%DF%27%DE%8D%0FI%10%90%DB%8Bmf%1B%D9%00_G%FD%23i%28%17%5E%3B%1D%16%5C%3B%15%92%DA%DE%FA%5C%96APP%9C%9B%3E%C0%DA%03%3A%19%27%24%DD%A1%91%10%FFMU8%9C%3A%98%B4uI%92%F8%A2%00P%BBT%88%D5%28%9A%99dR%24%21n%1C%01%E2%009%22%16~w%3AJ%C3%D4%D8d%D0%12A%EB%CF%B2%F0%C8%8D%EBb%C4%FAn%AFX%1C%E2%C8r%06%D0%7D%D3%CD%A9%BB%9Bg%C2%81%B9%E1%BE%85%D4%94%8C%CD-%A1%B7%FD%EA%EES%97A%916dE%08%87%DD%E0%88%F4%8D%A0k%81%D7%8B%22%F7%2FB%10%16%12%08%BA0%29%F2A%AD%A8%0E%FF%82%208p%F3%1E%A1%8E%C0%24%2F%DD5%3F%1At%CF%EC%C0%05%19%13%E3s%9D%9E%CF%5D%2F%EC%92%09%1A%C9v%18%A2%0D%B9KLy%99a2~OFk%00q%95p%DC%5Dp%DDt%EE_%F8%A76%E05%0B%CB%9C7P%1D%E8%B9k%EE%9F5h%F1%C4~%7B%10g%7C%A0%5CO%93%DF%F11%01%A0%00%84K~%2C%D8%26B%15%C0%DBV%84%18%8AN%F9%1Bn%7CA%40%21-%F6%5D%92NL%C47Ja%02%AC%8B%10%84%A6%EF%1AI%20%5D%15%BC%BC%60%24%E1G7%AD%8BM%C4%07%DB%07%C5%89%BC%AF%8A.Gxu%E5%5E%5B%1DRT%A9%D31%2B%C2%60p%D0S%07C%B4%21%25%A0%A3%BD%ABA%C8%C2%3E%3D%FA%B7rT9%8C%C0%C3%07%C2%B7%11%BEx%3Ab%A8oB%10%E8%EA%0B%FF%DCf_R%5CT%A1%60%89%86%BF%F2%DEY%91%8F%F7%DFsc%FA%DF%03%EF%DE%5B%AFu%40%E7%DE%5E%AC%09%04%26%FF%17%60%A5A%9Ao%40%C0%1E%00o%0C%09%40Q%D1%18~%C2%5D%0D%E8%C9%D6%9B%22B%60%B7%A2%04%2Cf%27O%1B%07u%D3%8E%83%0B%AF%FBc%18s%E2%C8%98ev~%DD%0D%EC%B8%27%EC%F5%E7%1F%FA5%3CO%20%D8%90%19l%BC%3A%F7%A2%3A%F8%D6%3D%B3%A2%98%C0%07%D2%1FK%27%CEo%FD%E6%7B%B0%FF%40%9EW%8A%0A%95%A1%40%F3%94i%B7%09%5E7%9B%D5%24V%F0%D4%CC%B6%FB%A6%0F%DAf%5B%B4%2A%9C%1E1o%0E%D2%7C%89%B4Kc%C2%DB%9Ar%A8%B3%1Fvl%DC%07%AF.%7B%9F%7FO%99%7DB4aGh1%D7E%C7%D49%E38%2A%DB%F4%CE%5E%B0%F9%3B%1F%ED%1B%0Fb%02%D5%033%FF%EC%F8A1%00%40%3C%FEw%F6a%E5%7F%EC%80%CC%DA%03%5C%06%93L%2Cm%241%95%20i%CAa%B6%12d%CD%83%86%B7%3B~%F9%F0%86%23%02%205z%DEyH%EEy%F1%5D%9C%60%B7%A6%00%98%1D_%02k%02%BBx%3A%93g%1F%3F88%81%C1%BAL%F7%27%CF%1E%C7%8C%E7TZ%80%DD%17%88Y%A4%AD%2C%CD%9C%3F%3E%96%16%FB%22%EA%C6Z%F9%EF%DB%E1%A5%9F%EC%D0A%60%88%27%E1%94%86%60%14X%DA%91%0Af%EF%11%27%40%D2%A4%C9Bf%F6%AEy%B8%F5%88%00%28%1B%D9x%1Er%BFQJ%B7i%D1%DB%97%13%81%20%22%10%86%A1%5D%F8%E2%19%C7E%5Cs%92%E0%07O%00%85Lo%0A%82%40%B6i%D3%BB%1D%C6rs%DD%0E%EB%09%5B%0EA%27%820c%DE%F8%D8%7C%7C%10%9F%7D%FC%23x%E5%F9%1D%24%DE%BCPj6V%99%8D%962%881J%08%97%0D%9A%EC%AFu%EF%9AG%06%01P%D4%08~%EB%E1%BF%CE~%A1%A6%12x%F3%95p%9F%16%B0%F3%C3%0Ex%FD%A9%0D8%C9%C31%0E%AD%F8%D1%3A8%BBi%12%8C%18Y%16%B3%E4%C9%E4%C9%5D%23%10%9A%AE%99%CE%9E%7B%C5%23mVf5%D5Y%E1%AD%97w%C2%CE%8F%0F%C1%B5%F7%9D%05c%C7WF%DF%D9%F4%FE%01%F8%19%12%BF3%7B%D8n%AF%D3%86p%A2%8Dj~T%FD%A5%9D%F5%5C%0B%20%C3G%06%B0%B0H%82%FD%C1b%B4%165%82%2Fh%5D%D5%8FUb%B4%CC%F5I%FFO%C7S%B7%FD%02%D6%B4l%B2F%CC%3Cq%C1wf%C1W%F0%F0u8%80%B8%21%94%09p%E8~%CB%A3%1F%C0%8AG%3F4%BB%BF%84%DB%2Ak%FA%BA%C9U0%7CT%19tv%F4A%E7%BE%9C%B6%9C%16f7Y%60%F4%3Cew%98%F1fK%E1m%BC%14F%C5x%B3%A5%E8%0ARjF%E6%EE%19%D9%24%ADE%E3%00%AA%11%20%21%F3%C8%5D%D3o%3Fa%E1x%FF%E6%3F%81%B1%E4%01%24X%F5%00X%F3%E2%E6A%E5%ED%24%18~~%E1%5C%DE%85WN%83%0B%AE%9A%EA%2A%ED%86%A8%809%8AA%CEg%C8%F9%FD%1A%5D%1D%82%A3x%C39%DF%E3z%BF%8D%29%24%97%BD%A0p%28%E16%92%B1%0D%D0%AA5%85%EA%5C%8CxjC%C6%01%94%1Ec%D7Hes%F4%FC%0D8d%834%7D%D5%B0%91%E5g%9C%7B%D9%19U%3F%BD%7FMD%E9%FE%3D%87%A0%FF%D0%00%94%A3%1A%F8%86%C5%F9w%97A%06P%C8%E5%1DPM%DF6%00%AC%7Cr%A3-f%82-m%B9%82%A70%E0%B0%ED%D1%A6%BC-%84%FB%CD%E7%284%07p%C0%EDx%2F%83%B1%EF6%7C%BF%3D%ADEK%E6%C1%99%BFqC%F5%E7%FE%C1%C4b%03%04%1D-%FE%F5E%8F%ACmDn%2C%C2%29%5Cn%B6%A9%D1%CAP%3FTX%3B%60q%89z%27%19.%DE%F7%CB%DDt%ED%2BWLe%EE%BF%BCt%93%95%2AG%3C%F5%CA%C6%22%B6%D2%2B%EC%DE8%C3%F5%17%11%AB%876%3E%3Eg5%1CE%3B%EA%BF%18Yv%D5Y%AB%B1%5B%3Dv%F6c%19%9C%C7%03%22%91%94%FA%E5l%5E%28%81%02%D7%5D%DC%E0~%3BI%B8%E0%EBS%98%9B%2F%FF%EB%96H%BD%D8%B0%B9E%0E%A9m%92%C3%D7%10%19u%E7%D6e%7F%DA%0C%C7%D0%028%C6%D6%F3%C9%CA%B7G%9E%BC%A0%0A%29%9A%D3%F8%D5%E90ld%19_%F7%03%20j~%D8%EC%8C%20%40%DC%08%11P%13g%8CeK%BE%F5%FDN%A3%06%CE%0D%DB%80T%DA%DD%E6xm%F9G%FF%D6x%03%1Cc%93P%82VY.%97%04i%D9%95%12%83%E3u%D7%5C%A2%E4%179%FEk%E9%07%B0%12%0Fw%CFI%CF_%5D6%09%FE%F2%F2Iv%21%83u%3E%DA%9Ee6%07%F3.%D2%25P%82v%CC%12%40%AD%2B%FBb%DF%A8%09%0B%2B%BE%7C%F1%94%C6%8A%11%05%09%A0%E6%22Dj%0E%ED%5E%5CE%5E%F1%C4%FB%F0%EA%D3%1Ba%EB%86%0Ev%A7%93%1Ajb%91%DF%17O%1F%C3%92%F0%D1%07%FB%0B%DE%86%FF%86%80%C1X%BE%ED%99s%97C%09%9A%80%12%B5%FA%C6%A5U%A9%EA%CAm%08%40%95%5D%8D%B3V%0A%1D%93%8DO%0C%81%02%3Aw%F7%D8%A5%29%E1%CC%3A%FC%C5e%D3%C4%9F_%3A%25%96LQ%21%F6%B5%A77%C3%CF%7F%F2%91%B6%213%FFa%85%16%E1%29%D9g%CE%CFB%09ZI%24%80%1AI%C1%B0S%9A%2A%FAzr%8D%7D%BD9%E8%EB%CD%03%9E%8B%DE%9E%3C%F4%E3%EF%DE%1E%BC%D6%13B_%F7%001%FC%0D%3C%96%94%A5%CAoH%C9%E0%21%0AS%B7%FE%AA%A3%12Y%3B%F9%94%D3kb%C1%D3i%7F%84%92%80%88~%DC%B6%DFn%83%D0%CB%B3%CF%9E_%12%EES%2B%E9%DF%0D%A6%CA%06%1E%D2%AAb%11%AEG%D4%B95%D9%98%2Ch%DD%AA%254%EF%5C%F9%B5%D5%89W%B3x%B4%BC%26%5E%A8%AF%AD%1F%B5%F4%F4%2F%9D%D0H%17%5D%3Eq%DE%25%13Y%0D%FE%FB%A7%5B%B7AN%96D%F7%5D%2B%99%0A%B8V%BF%E0Y%0C%96%C2%17p%E8z%F7%09%13Q%CA%E6l%CB%C5%AB%8Fd%0C%DA%A4%85%12p%3D%02p%86%97Pu%3D%F5%60f%5E%CB%0D3~w%FFt%D6%B5%FAK%9E%A6%3F%A2l%40%29%A8%02%D5%DD%92mY%7CT%7F%DE%869I%03%DA%01%DE%E2%86qD%8B%5D%C6%FBC%2Be%FB%3F%82%F2%19s%C5S%CD%D9%00%00%00%00IEND%AEB%60%82");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover::after {
      position: absolute;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      box-sizing: border-box;
      word-wrap: break-word;
      top: calc(100% - 5px);
      left: 8;
      /* transform: translateX(-50%); */
      color: var(--text-normal);
      padding: 8px 12px;
      background-color: var(--background-floating);
      content: "DDEX4 Support Server";
      box-shadow: var(--elevation-high);
      border: 1px solid var(--border-subtle);
      border-radius: 8px;
    }
  }
}

.headerChildren_f37cb1 {
  display: none;
}

/* USERPANEL - - - - - - - - - - - - - - - - - - - - - - */
section.panels__5e434 {
  background: var(--background-base-lowest);
  left: 0px !important;
  bottom: 0px !important;
  width: calc(100%) !important;
  border: none !important;
  border-radius: 0px !important;
  border-top: 1px solid var(--border-subtle) !important;
  min-height: 80px;
  align-content: center;

  .mask__44b0c,
  .avatarDecoration__44b0c {

    g,
    >rect {
      display: none !important;
    }

    foreignObject {
      mask: none;

      .avatarStack__44b0c img {
        border-radius: 50%;
      }
    }
  }
}

.container__37e49 {
  padding: 20px 24px 20px 22px !important;
}

.avatar__37e49 {
  scale: 0.8;
}

/* GUILDS - - - - - - - - - - - - - - - - - - - - - - */
.guilds__5e434 {
  z-index: 3 !important;
  top: calc(var(--custom-app-top-bar-height) - var(--custom-app-top-bar-height) * 2);
  margin-bottom: calc(var(--custom-app-panels-height) - var(--custom-app-top-bar-height)) !important;
  background-color: transparent !important;
  border-right: 1px solid var(--border-subtle);
}

.itemsContainer_ef3116>.stack_dbd263 {
  padding-top: calc(var(--custom-app-top-bar-height) + 8px) !important;
}

.folderGroup__48112>.stack_dbd263 {
  overflow: visible !important;
}

.tutorialContainer__1f388 .numberBadge__2b1f5 {
  outline: 2px solid var(--bg-base-tertiary);
  border-radius: 50%;
}

.iconSizeMini_f34534 {
  border-radius: 50% !important;
}

.icon__6e9f8,
.childWrapper__6e9f8,
.circleIconButton__5bc7e {
  border-radius: 14px !important;
  overflow: hidden !important;
}

/* └ PILLDOT -  -  -  -  -  -  -  -  -  -  -  -  -  - */
.pill_e5445c:not(:has(.item__58105[style*="height: 40px;"])),
.pill_c9fddf:not(:has(.item__58105[style*="height: 40px;"])) {
  overflow: visible;
  width: 100%;
  z-index: 3;
  pointer-events: none;

  >span {
    width: 8px;
    height: 8px !important;
    right: 15px !important;
    bottom: -2px !important;
    top: auto !important;
    left: auto !important;
    background: var(--interactive-text-active);
    border-radius: 50%;
    border: 4px solid var(--bg-base-tertiary);
    z-index: 3;
    pointer-events: none;
  }
}

.pill_e5445c:has(.item__58105[style*="height: 40px;"]),
.pill_c9fddf:has(.item__58105[style*="height: 40px;"]) {
  pointer-events: none;
  width: var(--custom-guild-list-width);
  justify-content: center;
  align-content: center;
  z-index: 10;
  overflow: visible !important;
  margin-left: 2px;
  margin-top: 0px;

  .item__58105 {
    width: 48px;
    height: 48px !important;
    border-radius: calc(var(--radius-lg) + 2px);
    background-color: transparent;
    border: 2px solid var(--brand-500);
  }
}

.isExpanded__48112 .pill_e5445c {
  border-color: color-mix(in srgb, var(--bg-base-tertiary), var(--background-mod-subtle) 5%) !important;
}

.isExpanded__48112>.listItem__650eb>.pill_e5445c:first-of-type {
  display: none;
}

.lowerBadge_cc5dd2 {
  z-index: 4;
}

.listItem__650eb {
  overflow: visible !important;
}

.tutorialContainer__1f388 .pill__1f388 {
  display: none;
}

/* TITLEBAR - - - - - - - - - - - - - - - - - - - - - */
:root {
  --custom-app-top-bar-height: 32px !important;
}

.bar_c38106 {
  height: var(--custom-app-top-bar-height) !important;
  padding: 0px 0px var(--space-4) !important;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    opacity: 0.5;
    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00P%00%00%00%28%08%06%00%00%00i%60%7D%01%00%00%00%09pHYs%00%00%0B%13%00%00%0B%13%01%00%9A%9C%18%00%00%01iiCCPDisplay%20P3%00%00x%9Cu%90%BDK%C3P%14%C5O%ABR%D0%3A%88%0E%1D%1C2%89C%D4%D2%0Avqh%2B%14E0T%05%ABS%9A~%09m%7C%24%29Rq%13W%29%F8%1FX%C1Yp%B0%88Tpqp%10D%07%11%DD%9C%3A%29%B8hx%DE%97T%DA%22%DE%C7%E5%FD8%9Cs%B9%5C%C0%1BP%19%2B%F6%02%28%E9%96%91L%C4%A4%B5%D4%BA%E4%7B%83%87%9ES%AAf%B2%A8%A2%2C%0A%FE%FD%BB%EB%F3%D1%F5%DEO%88YM%BBv%10%D9O%5C%97%CE.%97v%9E%02S%7F%FD%5D%D5%9F%C9%9A%1A%FD%DF%D4A%8D%19%16%E0%91%89%95m%8B%09%DE%25%1E1h%29%E2%AA%E0%BC%CB%C7%82%D3.%9F%3B%9E%95d%9C%F8%96X%D2%0Aj%86%B8I%2C%A7%3B%F4%7C%07%97%8Ae%AD%B5%83%D8%DE%9F%D5W%97%C5%1C%EAQ%CCa%13%26%18%8APQ%81%04%05%E1%7F%FC%D3%8E%3F%8E-rW%60P.%8F%02%2C%CADI%11%13%B2%C4%F3%D0%A1a%122q%08A%EA%90%B8s%EB~%0F%AD%FB%C9mm%EF%15%98mp%CE%2F%DA%DAB%038%9D%A1%93%D5%DB%DAx%04%18%1A%00n%EAL5TG%EA%A1%F6%E6r%C0%FB%090%98%02%86%EF%28%B3a%E6%C2%21w%7B%7F%0C%E8%7B%E1%FCc%0C%F0%1D%02v%95%F3%AF%23%CE%ED%1A%85%9F%81%2B%FD%07%17%29j%BC1%29O%3E%00%00%01%C4IDATx%01%ED%96%81M%C3%40%0CE%2F%88%01%B2%01%DD%802%01a%02%B2A%D3%09%80%09%9A%0D%C8%06%09%13%D0%0D%DAN%90n%900A%CB%04%87%AF%F9%A7Z%C7%15%21Z%A9%95%F8O%B2%92%7C%DB9%C7%E7%281%86%10B%08%21%84%10B%08%21%84%10%F2_H%CC%11Xk%B3%88%BCN%92d%ABbr9%D4bs%D1%A7%E6B%90%BA%C6rpf%A4%AE%C6%9C%03%7B%98%85%D8%081%25%B4N%E5%A5%EE%01%5Csc%9B%00%7F%0E%1BG%7C%07s%83X%17%97%AA%EB%0C%96%AA%BA%AC9%17%AAa%ADX%236WZ%E7%8B%F7E%E3%7C%22%B6%09%1A%AEc_%EDwj%F8%9E%0F%E4%8E%E1o%94%E6%EFS%BB%CD%84%A6s%EAKj%60%A9%B4R%E9%05%AE%DF%C5%16%F0%B7%F0%B9F%F8%29k%F0%903%95%BB%B1%FBM%A9%E0%F7%B4%B8o%A7bS%BBo%A0nr%ADt%8B%FB%E9%EB%8Bk%60%114%B0%D1%85%DAa%8Al%D0%8C%27%F8%16%D0%BA%C8ZzcF%D0r%A5eAcr%95%EB7m%A9%B4%EA%14%0D%BC2%27%C4%0E%AF%D2LI%CBH%D8Z%ECN%EC%05~%97S%E1%81%3F%11%93%DA%FDk%E9%CF%B7%EA%1E%A3%E0%18%D2%CB%87a%1E%D1o%7D%F3%85%1Bsn%EC%CF%94%88%09%27%B0%B7%C3%AB%B7%7B%AD%F5%C4%60%8Ab%D4hd%A74%7D%DE%06kuA%9Dzz7%B0N%D7%F5W%AE%CDq%AC%22%9A%9B0%F7%CB%B2%C4u%1F%C4%95b%85X%26%E6%3E%1C%1Fb%8D%9F%18y%9E%29%FC%F7j%8D%95%FB5%12%DF%03%F2%1F%CD0%7D%BB%5C%B1%2AX%AB%D7%05I%AEk%A0%5Bk%02%E9%0Du%16%86%10B%08%21%84%10B%08%21%84%10B~%C9%17%8F%1B%3E%85%EAK%08%5C%00%00%00%00IEND%AEB%60%82");
  }
}

.title_c38106 {
  display: none !important;
}

.trailing_c38106 {
  gap: var(--space-4) !important;

  .winButtons_c38106 {
    gap: 0px !important;
    padding-right: 4px;
  }
}

/* EXTRA */
.info__2debe::after {
  width: 100%;
  display: block;
  border-top: 1px solid var(--border-subtle);
  padding-top: 8px;
  margin-top: 8px;
  content: "DDEX4 \A Rewrite 3 \A Made by Blade0 \A ✨enjoy✨";
  text-transform: none;
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--text-muted);
  white-space: pre;
}


/* :root {
    --bg-base-tertiary: rgba(0, 0, 0, 0) !important;
  --background-base-lowest: rgba(0,0,0,0.2) !important;
  --background-base-lower: rgba(0, 0, 0, 0.2) !important;
  --background-surface-higher: rgba(0, 0, 0, 0.2) !important;
  --background-floating: rgba(255,255,255,0.2) !important;
  --bg-surface-overlay: rgba(255,255,255,0.2) !important;
  --bg-surface-raised: rgba(255,255,255,0.2) !important;
  --chat-background-default: rgba(0,0,0,0.3) !important;
  --background-primary: rgba(0,0,0,0.3);
  --background-secondary: rgba(0,0,0,0.2);
  --background-tertiary: rgba(0,0,0,0.2);
  --background-secondary-alt: rgba(255,255,255,0.2);
  --modal-background: var(--background-floating);
  --modal-footer-background: var(--background-floating);
  --background-base-low: rgba(0,0,0,0.3);
}
.app__160d8,
.appMount__51fd7,
body,
.panels__5e434 {
  background: transparent !important;
} */

.imagePosition_ef9ae7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.5;
}

.overlay_c0bea0 {
  overflow: hidden;

  .badgesContainer__635ed {
    right: 40px;
  }

  .headerContextMenu__39ec2 {
    height: 24px;
    align-content: center;
  }
}


.content_d125d2>div[aria-hidden="true"] {
  display: none;
}