._5126c0cd07f243a0-messageListItem[data-is-self="true"], .messageListItem__5126c[data-is-self="true"] {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;

    ._5126c0cd07f243a0-groupStart .c19a557985eb7793-messageContent, .groupStart__5126c .messageContent_c19a55 {
        border-radius: 10px 10px 0px 10px !important;
    }

    ._5126c0cd07f243a0-message, .message__5126c {
            /* position: absolute; */
            max-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
            min-width: calc(100% - var(--custom-message-margin-left-content-cozy) - 64px) !important;
            padding: 2px 64px !important;

        .c19a557985eb7793-header, .header_c19a55 {
            text-align: right;
        }
        
        .c19a557985eb7793-contents, .contents_c19a55 {
            /* position: absolute; */
            max-width: calc(100%) !important;
            min-width: calc(100%) !important;
            justify-items: end;
        }
        
        .c19a557985eb7793-contents>.c19a557985eb7793-messageContent, .contents_c19a55>.messageContent_c19a55 {
            border-radius: 10px 0px 0px 10px;
        }

        .c19a557985eb7793-avatar, .avatar_c19a55 {
            left: auto !important;
            right: var(--custom-message-margin-horizontal);
        }

        .c19a557985eb7793-avatarDecoration, .avatarDecoration_c19a55 {
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
        }

        .container_b7e1cb>*, .b7e1cb0370c2dd0e-container>* {
            justify-self: end !important;
            align-self: end !important;
        }
        .visualMediaItemContainer_f4758a, .f4758a8d6346d18b-visualMediaItemContainer {
            display: grid;
            justify-content: end !important;
        }

        &.c19a557985eb7793-hasReply, &.hasReply_c19a55 {
            padding-top: 22px !important;
        }

        .c19a557985eb7793-repliedMessage, .repliedMessage_c19a55 {
            position: absolute;
            flex-direction: row;
            top: 0px;
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + 2px);
            margin-right: calc(var(--chat-avatar-size) * 1.5 + 12px);
            max-width: calc(100% - var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 295px);
        }

        .c19a557985eb7793-repliedMessageClickableSpine, .repliedMessageClickableSpine_c19a55 {
            right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
            left: 100%;
            border-right: var(--spine-width) solid var(--spine-default);
            border-bottom: 0 solid var(--spine-default);
            border-left: 0 solid var(--spine-default);
            border-top: 2px solid var(--spine-default);
            border-top: var(--spine-width) solid var(--spine-default);
            border-top-right-radius: 6px;
            border-top-left-radius: 0px;
            margin-left: 4px;
        }
    }

        .c19a557985eb7793-buttonContainer, .buttonContainer_c19a55 {
            right: auto;
            left: 0;

            ._040f07d21e1fb0d6-container, .container__040f0 {
            padding: 0 64px;
            right: auto;
            left: 0px;
        }
    }

    ._23977d5b7cef7361-reactions, .reactions__23977 {
        align-content: flex-end;
        justify-content: flex-end;
    }
}

/* the following CSS has been made by my friend DreariestTax53. all credits to him i'm just stealing it >:3c */
.c19a557985eb7793-contents:has([id^="message-content-Uploader"]), .contents_c19a55:has([id^="message-content-Uploader"]) {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;
}
